@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#box-one{
    height: 14vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 3vw;
}
.inner-one{
    width: 6vw;
    height: 10vh;
    font-family: "Noto Serif", serif;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 15px;
}
img{
    width: 12vw;
    padding-left: 1vw;
}
.inner-one a{
    color: #000B23;
}
.fa-user{
    color: #000B23; 
}
.inner-one i{
    font-size: 12px;
}
.inner-inner{
    margin-left: 45vw;
    font-size: 22px;
}
#box-two{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238,238,238);
}
#box-two div{
    width: 90vw;
    height: 100vh;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 20px;
    background-image: url(img/width1960.webp);
    background-size: cover;
}
#box-three{
    height: 40vh;
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    font-family: "Noto Serif", serif;
}
.inner-three{
    height: 6vh;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000B23;
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 5px;
}
#box-three p{
    font-weight: 600;
    font-size: 30px;
}
#box-three a{
    color: white;
    font-weight: 500;
    font-size: 16px;
}
#box-four{
    height: 110vh;
    background-color: rgb(238,238,238);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 70px;
}
.inner-four{
    width:40vw;
    height: 80vh;
    border-radius: 20px;
}
#four{
    width: 50vw;
    height: 85vh;
    background-image: url(img/width1960\ \(1\).webp);
    background-size: cover;
}
#another{
    position: absolute;
    width: 45vw;
    height: 90vh;
    left: 50%;
    bottom: 20%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 12vw;
    padding-top: 50px;
    align-items: center;
}
.inner-four h2{
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 40px;
}
.inner-four p{
    margin-top: 10px;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 17px;
}
.inner-another{
    height: 6vh;
    width: 23vw;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family: "Noto Serif", serif;
    font-size: 19px;
    font-weight: 600;
}
.inner-another a{
    font-family: "Noto Serif", serif;
    color: #000B23;
    font-weight: 600;
}
/* .inner-another :hover{
    color: darkgrey;
} */
#box-five{
    height: 110vh;
    background-color: rgb(238,238,238);
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 45vw;
    /* border: 1px solid black; */
}
.inner-five{
    width:42vw;
    height: 85vh;
    background-color: white;
    position: absolute;
    left: 55px;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 12vw;
    align-items: center;
    padding-top: 50px;
    border-radius: 20px; 
}
.another-five{
    height: 90vh;
    width: 50vw;
    background-image: url(img/width1960\ \(2\).webp);
    border-radius: 20px;
    background-size: cover;
}
.inner-five h2{
    font-family: "Noto Serif", serif;
    font-weight: 600;
    font-size: 40px;
}
.inner-five p{
    margin-top: 10px;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 17px;
}
#box-six{
    height: 80vh;
    background-color: rgb(238,238,238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}
#fix{
    display: flex;
    gap: 2vw;
}
.inner-six{
    height: 37vh;
    width: 18vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 1px solid rgb(252, 247, 247);
}
.inner-six img{
    width: 15vw;
    background-color: white;
}
#box-six h2{
    font-size: 35px;
    font-weight: 700;
    font-family: "Noto Serif", serif;
}
#box-seven{
    height:115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 1px solid black;
}
.inner-seven-one{
    width: 85vw;
    height: 35vh;
    border-bottom: 1.7px solid #afacac;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.inner-seven-two{
    width: 85vw;
    height: 50vh;
    border-bottom: 1.7px solid #afacac;
    display: flex;
}
.grey{
    width: 50vh;
    height: 20vh;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gray{
    width: 35vh;
    height: 35vh;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(209, 204, 204);
    font-family: "Noto Serif", serif;
}
.gray a{
    color: whitesmoke;
}
#inner-gray-one{
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
    /* color: whitesmoke; */
    font-family: "Noto Serif", serif;
}
#inner-gray-one p{
    color: rgb(209, 204, 204);
}
#inner-gray-one a{
     color: whitesmoke;
}
#inner-gray{
    padding-top: 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Noto Serif", serif;
}
#glow{
    width: 20vw;
    height: 30vh;
    margin-left: 20vw;
    display: flex;
    display: flex;
    gap: 3px;
}
.internal{
    width: 40vw;
    height: 10vh;
    margin-top: 20px;
    margin-left: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12vw;
    color: whitesmoke;
}
.grey img{
    width: 22vw;
    padding-top: 30px;
}
.grey div{
    width: 12vw;
    height: 6vh;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 20px;
    border: 2px solid white;
}
.fa-solid{
    font-size: 23px;
}
#another-grey div a{
    color: whitesmoke;
}
.grey div p{
    font-size: 18px;
    font-family: "Noto Serif", serif;
}
.inner-glow{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}
.fa-brands{
    color: whitesmoke;
}